* {
    margin: auto;
    text-align: center;
    align-content: center;
  }
  
  body {
    margin: auto;
    background-color: white;
  }
  body button {
    margin: auto;
    width: 70%;
    border-radius: 15px;
    border: none;
    display: block;
    padding: 20px;
    background-color: #0A66C2;
    color: white;
  }

  body button:hover {
    background-color: blue;
    width: 73%;
    padding: 22px;
  }
  body div {
    padding: 2%;
  }
  body a {
    text-decoration: none;
    color: inherit;
  }

  footer {
    text-align: center;
  }
  
  
  #header {
    color: black;
  }
  .img-circle {
    width: 70%;
    height: auto;
  }