* {
    margin: auto;
    text-align: center;
    align-content: center;
  }
  
  body {
    margin: auto;
    background-image: url("./resources/background.jpg");
  }
  body button {
    margin: auto;
    width: 50%;
    border-radius: 15px;
    border: none;
    display: block;
    height: 50px;
    background-color: #0A66C2;
    color: white;
  }

  body button:hover {
    background-color: blue;
    width: 53%;
    height: 52px;
  }
  body div {
    padding: 2%;
  }
  body a {
    text-decoration: none;
    color: inherit;
  }
  body h4 {
    color: white;
  }
  
  footer {
    text-align: center;
    color: white;
  }
  
  
  #header {
    color: white;
  }
  